/*Paul-Étienne, Ugo, Mohamed*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:visited{
    color:orange;
}

:root{
    --text-size:2vw;
    --title-size:3vw;
    --link-color:#1b87fa;
    --border-size:0.4vw;
    --border-raidus-size:5px;
    --width-max:1600px;
}

html, body{
    margin:auto;
    padding:auto;
    box-sizing: border-box;
    background-color: darkgrey;
}

.max-width-1600{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*Header*/
.header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color: black;
    width:100%;
    color:white;
    font-family: 'Poppins', sans-serif;
    max-width:var(--width-max);
}

.header-name{
    padding:1vw;
    padding-top:1vw;
    padding-bottom:1vw;
    font-size:var(--title-size);
}

.header-hamburger{
    width:4vw;
    height:4vw;
    padding:1vw;
}

.header-list{
    display:none;
}

/* Welcomne */
.intro{
    background-color: black;
    width: 80%;
    text-align: center;
}
.intro-gif{
    width: 20%;
}

/* Main */
.zone-main{
    display:flex;
    flex-wrap: wrap;
    width: 80%;
    color: white;
    background-color: white;
    justify-content: space-between;
}
.main-div{
    background-color: black;
    margin: 2vw;
    width: 1/3fr;
    display:flex;
    align-items:center;
    flex-direction:row;
    text-align: center;
}

.main-content{
    width: 30vw;
    height: 30vw;
}

.main-text{
    display: block;
    font-size: var(--text-size);
}

/* Footer */
.footer{
    background-color: black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    max-width:var(--width-max);
}

.footer-copyright{
    color:lightgrey;
    font-size: 1vw;
    padding:2vw;
    font-family: 'Poppins', sans-serif;
}

.footer-lien{
    display:flex;
    justify-content: space-evenly;
}

.footer-pic{
    width:2vw;
    max-width:15px;
    padding:2vw;
}

.footer-pic:active{
    border:white solid var(--border-size);
    border-radius:var(--border-raidus-size);
}

.footer-pic:hover{
    width:3vw;
    max-width: 20px;
}

@media screen and (min-width:768px){
    .header-hamburger{
        display:none;
    }

    .header-name{
        flex-grow:2
    }

    .header-list{
        display:flex;
        flex-direction: row;
        justify-content:space-evenly;
        flex-grow: 3;
        list-style-type: none;
    }

    .header-links{
        text-decoration:none;
        color:white;
        font-size:var(--text-size);
    }

    .header-links:hover{
        color:var(--link-color);
    }

    .header-links:active{
        text-decoration: underline;
    }
    .zone-main{
        display: flex;
        justify-content: space-evenly;
    }
    .main-div{
        display: flex;
        flex-wrap: wrap;
        flex-direction:column-reverse;
        justify-content: center;
        width: 38.5%;
    }
    .main-content{
        order:1;
    }
    .main-text{
        display: contents;
        justify-content: center;
        order:2;
    }
}
@media screen and (min-width:1200px){
    .header-links{
        font-size:calc(calc(var(--width-max) * 1.5) / 100);
    }
    .zone-main{
        display:flex;
        align-items:center;
        width: 80%;
    }
    .main-div{
        display: flex;
        flex-wrap: wrap;
        flex-direction:column-reverse;
        justify-content: center;
        width: 28%;
    }
    .main-content{
        order:1;
        width:22vw;
        height:22vw;
    }
    .main-text{
        display: contents;
        justify-content: center;
        order:2;
    }
    
}
@media screen and (min-width:1600px){

}